
<h4>Add Goods</h4>
<div align="left">
    <a class="btn btn-outline-primary" role="button" asp-controller="Admin" asp-action="AddGoods">Add goods</a>
</div>
<br />
<h4>Add Category</h4>
<div align="left">
    <a class="btn btn-outline-primary" role="button" asp-controller="Admin" asp-action="AddCategory">Add category</a>
</div>